body{
    display: flex;
    justify-content: center;
    background-color: rgb(244, 255, 244);
}


.container{
    background-color: #abaaaa;
    padding: 30px 30px;
    width: 30%;
    min-width: 400px;
    position: absolute;
    top: 10%;
    left: 35%;
    border-radius: 5px;

}